<hr>
<small>
<p>github repo for all my solutions: 🎄👑<a href="https://github.com/pietroppeter/adventofnim">adventofnim</a>;</p>
<p>html output powered by 🐳<a href="https://github.com/pietroppeter/nimib">nimib</a>.</p>
</small>
