<head>
  <title>{{title}}{{^title}}{{filename}}{{/title}}</title>
  <!-- https://css-tricks.com/emojis-as-favicons/ changed font-size to 80 to fit whale-->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🐳</text></svg>">
  <meta content="text/html; charset=utf-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel='stylesheet' href='https://unpkg.com/normalize.css/'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <style>
body, code, samp {
  font-family: "Source Code Pro", monospace;
}

body {
  background: #0f0f23;
  color: #cccccc;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #ffffff;
  font-size: 1em;
  font-weight: normal;

}

pre code {
  background: #10101a;
  color: #cccccc;
  border-radius: 0px;
  border-left: 1px solid #ffc200;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  left: -2px;
}

:not(pre) > code, samp {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

(:not(pre) > code):before, samp:before {
  z-index: -1;
  content: "";
  position: absolute;
  display: block;
  left: -2px;
  right: -2px;
  top: 3px;
  bottom: 0px;
  border: 1px solid #333340;
  background: #10101a;
}

a {
    text-decoration: none;
    color: #009900;
}

a:hover {
    color: #99ff99;
}

em {
    color: #ffffff;
    font-style: normal;
    text-shadow: 0 0 5px #ffffff;
}

em.star {
    color: #ffff66;
    text-shadow: 0 0 5px #ffff66;
}

code {
    border-radius: 0px;
    border-left: 1px solid #ffc200;
}

pre code {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    left: -2px;
}
  </style>
</head>
