<script async defer data-domain="pietroppeter.github.io" src="https://plausible.io/js/plausible.js"></script>
<style>
  a {
      text-decoration: none;
      color: #009900;
  }

  a:hover {
      color: #99ff99;
  }

  em {
      color: #ffffff;
      font-style: normal;
      text-shadow: 0 0 5px #ffffff;
  }

  em.star {
    font-style: normal;
    color: #ffff66;
    text-shadow: 0 0 5px #ffff66;
  }
</style>
